body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); /* Multi-color gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.login-container, .register-container {
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out; /* Faster animation for container */
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.2s; /* Faster transition for border color */
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #007bff; /* Focus border color */
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.2s; /* Faster transition for background and scale */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.03); /* Slight zoom effect on hover */
}

button:active {
    background-color: darkblue;
    transform: scale(1); /* Reset scale on click */
}

p {
    margin-top: 15px;
    color: red;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
